<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Reach Out
            <br/>
            To Moxie
        </h2>
        <p>
            Click the button below to be directed to a scheduling form for your future session!
        </p>
        <a href="/contact" class="cs-button-solid">Contact</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/Summit-_24-of-26_.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/Summit-_24-of-26_.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/Summit-_24-of-26_.webp" alt="Moxie on a mountain." loading="lazy" width="2500" height="1667">
    </picture>

</section>