---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/about-header.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/trees.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/trees.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/trees.webp" alt="Moxie and her dog" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<section id="content-page-713">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title"><span class="cs-color">My Clients & Approach</span></h1>
            <h2>A bit about Moxie.</h2>
            <p>
                Are you struggling to find your place within your community or within yourself? Let's work together to seek clarity, navigate transitions, and strengthen your relationships. Our therapeutic journey will focus on creating a deeper understanding of yourself, exploring your beliefs and values, and examining the cycles we play out in relationships with others.
            </p>
            <p>
                My approach is firmly rooted in a strengths-based and relational perspective. I specialize in working with teens and young adults, aged 14-25, helping them understand their learning profiles, manage symptoms of overwhelm such as depression and anxiety, process trauma and grief, and support social skills development. Whether you're dealing with trauma, anxious attachment, or just need general therapy, I'm here to help.
            </p>
            <p>
                Many of my clients are people-pleasers who come to me looking for quick fixes to their problems. However, they soon realize that true healing involves learning to listen to their own needs and finding their own sense of worth. I'm not here to give you all the answers but to guide you in discovering them for yourself.
            </p>
            <p>
                In general, most of my clients have experienced complex trauma. My successful clients are those willing to slow down, reconnect with their bodies, and embrace their emotions. They come ready to work, eager to see changes in their lives, even if they don't yet know what steps to take.
            </p>
            <p>
                I look forward to partnering with you on your journey of self-discovery and helping you cultivate a firm foundation for launching into the world. Please reach out to set up a 15-minute introduction call.
            </p>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/about-portrait.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/about-portrait.webp">
                <img loading="lazy" decoding="async" src="/assets/images/about-portrait.webp" alt="person" width="570" height="680" aria-hidden="true">
            </picture>

            <!--Flower Graphic-->
            <img class="cs-flower" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fbig-abstract-flower.svg" alt="flower graphic" width="362" height="350" aria-hidden="true">

            <!--Spidey Sense Graphic-->
            <img class="cs-sense" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fspider-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
        </div>
    </div>
    <!--Waves Graphic-->
    <picture class="cs-background">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Flarge-waves.svg" alt="waves" decoding="async" aria-hidden="true" width="625" height="952">
    </picture>
</section>

<div id="gallery">
    <h2 class="cs-title">My Specialties</h2>
    <div class="blob-grid">
        <div id="blob1" class="image-group">
            <h2>Codependency</h2>
            <img src="/assets/svgs/blob.svg" alt="">
        </div>
        <div id="blob2" class="image-group">
            <h2>Anxiety</h2>
            <img src="/assets/svgs/blob.svg" alt="">
        </div>
        <div id="blob3" class="image-group">
            <h2>Adoption</h2>
            <img src="/assets/svgs/blob.svg" alt="">
        </div>
    </div>
</div>

<script>
    // Your JavaScript code here
    const keyframesFloat1 = [
        { transform: 'translateY(0)' },
        { transform: 'translateY(-2rem)' },
        { transform: 'translateY(0)' }
    ];

    const keyframesFloat2 = [
        { transform: 'translateY(0)' },
        { transform: 'translateY(-3rem)' },
        { transform: 'translateY(0)' }
    ];

    const floatTiming1 = {
        duration: 7000,
        iterations: Infinity,
        easing: 'ease-in-out'
    };

    const floatTiming2 = {
        duration: 10000,
        iterations: Infinity,
        easing: 'ease-in-out'
    };

    const floatTiming3 = {
        duration: 4500,
        iterations: Infinity,
        easing: 'ease-in-out'
    };

    document.addEventListener('DOMContentLoaded', () => {
        const blob1 = document.querySelector('#blob1');
        const blob2 = document.querySelector('#blob2');
        const blob3 = document.querySelector('#blob3');

        if (blob1) {
            blob1.animate(keyframesFloat1, floatTiming1);
        }

        if (blob2) {
            blob2.animate(keyframesFloat2, floatTiming2);
        }

        if (blob3) {
            blob3.animate(keyframesFloat1, floatTiming3);
        }
    });
</script>                                

    {% include 'components/cta.html' %}

{% endblock %}