---
title: 'Contact | Bareroots Counseling'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CGJKJB703Y"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CGJKJB703Y');
    </script>
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/contact-header.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/contact-header.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/contact-header.webp" alt="Moxie holding a clover." loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
<!--                Meet the Team                 -->
<!-- ============================================ -->

<section id="meet-team-1370">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <!-- <svg id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                    <path fill="#bfdbf7" d="M407,287.5Q404,335,362.5,358Q321,381,280.5,405Q240,429,197.5,408.5Q155,388,108.5,365.5Q62,343,72.5,291.5Q83,240,67,185.5Q51,131,105.5,116.5Q160,102,200,84.5Q240,67,289.5,67.5Q339,68,370,107.5Q401,147,405.5,193.5Q410,240,407,287.5Z" />
                </svg> -->
                <div class="cs-picture-wrapper">
                    <div class="blob-wrapper">
                        <div class="cs-picture">
                            <picture>
                                <source media="(max-width: 600px)" srcset="/assets/images/contact-portrait.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/contact-portrait.webp">
                                <img decoding="async" src="/assets/images/contact-portrait.webp" alt="Moxie Robinson portrait" width="6000" height="4000" aria-hidden="true">
                            </picture>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="cs-content">
            <h2 class="cs-title">Ready to Start Therapy?</h2>
            <p class="cs-text">
                I am currently accepting a few in-person and virtual clients. If you are interested in chatting with me to learn more about the opportunity, feel free to send a message using the form below.
                <br>
                <br>
                I look forward to partnering with you on your journey to discovering a grounded sense of self and building a strong foundation for your future endeavors. Please contact me to schedule a 15-minute introductory call.
            </p>
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1388">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Reach Out Today</span>
            <h2 class="cs-title">I am excited to grow together!</h2>
            <p class="cs-text">
                Whether you already seriously considering therapy or simply want to learn more about the process, I would love to hear from you. There is no harm is reaching out, so get started today!
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-76.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Phone</span>
                        <a href="tel:888-4565-789
                        " class="cs-link">+1 (678) 315 5908
                        </a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Email</span>
                        <a href="mailto:Email@stitch.com" class="cs-link">moxietcraig@gmail.com</a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Address</span>
                        <a href="" class="cs-link">Waterbury, VT</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-1388" name="Contact Form" method="post" netlify>
            <h3 class="cs-h3">Make Appointment</h3>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-1388" name="name" placeholder="Name">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="email" id="email-1388" name="email" placeholder="Email">
            </label>
            <label class="cs-label cs-phone">
                Phone
                <input class="cs-input" required type="number" id="phone-1388" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1388" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
        </form>
    </div>
</section>
                  

{% endblock %}