/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* shrikhand-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/shrikhand-v15-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v26-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v26-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  scroll-behavior: smooth;
}
/* CodeStitch Root and Helpers */
/* Core Styles, Reset, Header/Navigation, and Footer */
@media only screen and (min-width: 0rem) {
  :root {
    --primary: #997A9F;
    --primaryLight: #ffffff;
    --secondary: #f5f3bb;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #ffffff;
    --bodyTextColorWhite: #fafbfc;
    --navLinkColor: #997A9F;
    --htmlBodyColor: #F7F1EC;
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    --valid-color: rgba(144, 238, 144, 0.3);
    --error-color: rgba(240, 83, 101, 0.4);
  }
  body {
    margin: 0;
    padding: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  .cs-title {
    font-family: "Shrikhand", sans-serif;
    font-size: var(--headerFontSize);
    font-weight: 400;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--primaryLight);
    position: relative;
  }
  .cs-text {
    font-family: "Montserrat", sans-serif;
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--primaryLight);
  }
  .cs-button-solid {
    background-color: var(--primary);
    color: var(--bodyTextColor);
    border-radius: 6.25rem;
    border: solid 1px #f2f2f2;
  }
  .cs-button-solid:before {
    content: '';
    width: 0%;
    height: 100%;
    background: var(--htmlBodyColor);
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
    border-radius: 6.25rem;
  }
  .cs-button-solid:hover {
    color: var(--primary);
  }
  .cs-button-solid:hover:before {
    width: 100%;
  }
}
.cs-button-solid {
  border: solid #f2f2f2 1px;
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  .cs-hide-on-mobile {
    display: block;
  }
  .cs-hide-on-desktop {
    display: none;
  }
}
/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
  body,
  html {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: #ffffff;
  }
  *,
  *:before,
  *:after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  body {
    transition: background-color 0.3s;
  }
  .container {
    position: relative;
    margin: auto;
    width: 92%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--headerColor);
  }
  p,
  li,
  a {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5em;
  }
  p,
  li {
    color: #353535;
  }
  a:hover,
  button:hover {
    cursor: pointer;
  }
  .skip {
    z-index: -1111111;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
}
/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
  body,
  html {
    font-size: 0.55vw;
  }
}
/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  body.dark-mode #dark-mode-toggle .cs-sun {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  body.dark-mode #dark-mode-toggle .cs-moon {
    opacity: 0;
    transform: translate(-50%, -150%);
    fill: #fff;
  }
  #dark-mode-toggle {
    z-index: 1000;
    position: absolute;
    top: 0.625rem;
    right: 4.375rem;
    display: block;
    border: none;
    background: transparent;
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    padding: 0;
  }
  #dark-mode-toggle svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1.25rem;
    width: 1.25rem;
    pointer-events: none;
  }
  #dark-mode-toggle .cs-moon {
    z-index: 2;
    transition: transform 0.3s, opacity 0.3s;
  }
  #dark-mode-toggle .cs-sun {
    z-index: 1;
    opacity: 0;
    transform: translate(-50%, 100%);
    transition: transform 0.3s, opacity 0.3s;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #dark-mode-toggle {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    margin: 0;
  }
  #dark-mode-toggle:hover {
    cursor: pointer;
  }
}
/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
body,
html {
  /* reset margin and padding so there's no gap between the nav and the screen edges */
  margin: 0;
  padding: 0;
}
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }
  #cs-navigation .cs-li .cs-li-link {
    font-size: clamp(0.875rem, 1vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--primary);
    display: block;
    position: relative;
  }
  #cs-navigation {
    width: 100%;
    padding: 0.75rem 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: transparent;
    position: fixed;
    z-index: 100;
  }
  #cs-navigation:before {
    /* grey blurrd overlay */
    content: "";
    width: 100%;
    height: 0vh;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    position: absolute;
    display: block;
    top: 100%;
    right: 0;
    z-index: -11;
    transition: height 0.5s, opacity 0.3s;
  }
  #cs-navigation.cs-active:after {
    width: 100%;
    max-width: 100%;
    background-color: #484848;
  }
  #cs-navigation.cs-active:before {
    height: 150vh;
    opacity: 1;
  }
  #cs-navigation.cs-active .cs-ul-wrapper {
    opacity: 1;
    transform: scaleY(1);
    transition-delay: 0.2s;
  }
  #cs-navigation.cs-active .cs-li {
    transform: translateY(0);
    opacity: 1;
  }
  #cs-navigation .cs-logo {
    width: 40%;
    max-width: 9.125rem;
    height: 100%;
    padding: 0.75rem 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #cs-navigation .cs-toggle {
    /* 44px - 48px */
    width: clamp(2.75rem, 6vw, 3rem);
    height: clamp(2.75rem, 6vw, 3rem);
    margin: 0 0 0 auto;
    border-radius: 0.25rem;
    background-color: #484848;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-navigation .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  #cs-navigation .cs-active .cs-line2 {
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
  }
  #cs-navigation .cs-active .cs-line3 {
    bottom: 100%;
    opacity: 0;
  }
  #cs-navigation .cs-box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    /* 14px - 16px */
    height: clamp(0.875rem, 1.5vw, 1rem);
    position: relative;
  }
  #cs-navigation .cs-line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #cs-navigation .cs-line1 {
    top: 0;
    transform-origin: center;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #cs-navigation .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #cs-navigation .cs-line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }
  #cs-navigation .cs-ul-wrapper {
    width: 100%;
    opacity: 0;
    background-color: #fff;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s, opacity 0.3s;
  }
  #cs-navigation .cs-ul {
    margin: 0;
    padding: 3rem 0 3rem 0;
    width: 100%;
    height: auto;
    max-height: 65vh;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  #cs-navigation .cs-li {
    text-align: center;
    list-style: none;
    margin-right: 0;
    /* transition from these values */
    transform: translateY(-4.375rem);
    opacity: 0;
    transition: transform 0.6s, opacity 0.9s;
  }
  #cs-navigation .cs-li:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #cs-navigation .cs-li:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #cs-navigation .cs-li:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #cs-navigation .cs-li:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #cs-navigation .cs-li:nth-of-type(5) {
    transition-delay: 0.25s;
  }
  #cs-navigation .cs-li:nth-of-type(6) {
    transition-delay: 0.3s;
  }
  #cs-navigation .cs-li:nth-of-type(7) {
    transition-delay: 0.35s;
  }
  #cs-navigation .cs-li:nth-of-type(8) {
    transition-delay: 0.4s;
  }
  #cs-navigation .cs-li:nth-of-type(9) {
    transition-delay: 0.45s;
  }
  #cs-navigation .cs-li:nth-of-type(10) {
    transition-delay: 0.5s;
  }
  #cs-navigation .cs-li:nth-of-type(11) {
    transition-delay: 0.55s;
  }
  #cs-navigation .cs-li:nth-of-type(12) {
    transition-delay: 0.6s;
  }
  #cs-navigation .cs-li:nth-of-type(13) {
    transition-delay: 0.65s;
  }
  #cs-navigation .cs-li-link {
    /* 16px - 24px */
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: var(--bodyFontSize);
    display: inline-block;
    position: relative;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: none;
    bottom: -0.125rem;
    left: 0;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    display: block;
  }
  #cs-navigation .cs-button-solid {
    display: none;
  }
}
/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  #cs-navigation .cs-li {
    text-align: center;
    width: 100%;
    display: block;
  }
  #cs-navigation .cs-dropdown {
    position: relative;
    color: var(--bodyTextColorWhite);
  }
  #cs-navigation .cs-dropdown.cs-active .cs-drop-ul {
    height: auto;
    opacity: 1;
    visibility: visible;
    margin: 0.75rem 0 0 0;
    padding: 0.75rem 0;
  }
  #cs-navigation .cs-dropdown.cs-active .cs-drop-link {
    opacity: 1;
  }
  #cs-navigation .cs-dropdown .cs-li-link {
    position: relative;
    transition: opacity 0.3s;
  }
  #cs-navigation .cs-drop-icon {
    width: 0.9375rem;
    height: auto;
    position: absolute;
    top: 50%;
    right: -1.25rem;
    transform: translateY(-50%);
  }
  #cs-navigation .cs-drop-ul {
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    transition: padding 0.3s, margin 0.3s, height 0.3s, opacity 0.3s, visibility 0.3s;
  }
  #cs-navigation .cs-drop-li {
    list-style: none;
  }
  #cs-navigation .cs-li-link.cs-drop-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    color: #fff;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    background-color: #f2f2f2;
  }
  #cs-navigation .cs-dropdown {
    position: relative;
  }
  #cs-navigation .cs-dropdown:hover {
    cursor: pointer;
  }
  #cs-navigation .cs-dropdown:hover .cs-drop-ul {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
  #cs-navigation .cs-dropdown:hover .cs-drop-li {
    opacity: 1;
    transform: translateY(0);
  }
  #cs-navigation .cs-drop-icon {
    width: 0.9375rem;
    height: auto;
    display: inline-block;
  }
  #cs-navigation .cs-drop-ul {
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
    border-bottom: 5px solid var(--primary);
    /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
    position: absolute;
    top: 100%;
    z-index: -100;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
  }
  #cs-navigation .cs-drop-li {
    list-style: none;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0;
    width: 100%;
    height: auto;
    color: var(--bodyTextColor);
    display: block;
    transform: translateY(-0.625rem);
    transition: opacity 0.6s, transform 0.6s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(5) {
    transition-delay: 0.25s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(6) {
    transition-delay: 0.3s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(7) {
    transition-delay: 0.35s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(8) {
    transition-delay: 0.4s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(9) {
    transition-delay: 0.45s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(10) {
    transition-delay: 0.5s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(11) {
    transition-delay: 0.55s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(12) {
    transition-delay: 0.6s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(13) {
    transition-delay: 0.65s;
  }
  #cs-navigation .cs-li-link.cs-drop-link {
    white-space: nowrap;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    padding: 0.75rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    color: var(--navLinkColor);
    display: block;
    transition: color 0.3s, background-color 0.3s;
  }
  #cs-navigation .cs-li-link.cs-drop-link:hover {
    background-color: #f7f7f7;
  }
  #cs-navigation .cs-li-link.cs-drop-link:before {
    display: none;
  }
}
/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    width: 100%;
    /* 23px - 420px */
    padding: 0rem 1rem 0rem clamp(14.6875rem, 23vw, 26.25rem);
    /* prevents padding and border from affecting height and width */
    background: transparent;
    position: absolute;
    /* Fixed position */
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #cs-navigation .cs-toggle {
    display: none;
  }
  #cs-navigation .cs-logo {
    width: 18.4%;
    max-width: 20rem;
    height: 100%;
    /* 32px - 64px */
    padding: 1rem clamp(2rem, 4vw, 4rem);
    background-color: var(--primary);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #cs-navigation .cs-ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }
  #cs-navigation .cs-li {
    list-style: none;
    padding: 2rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #cs-navigation .cs-li:last-of-type {
    /* pushes the button to the far roght */
    margin-left: auto;
  }
  #cs-navigation .cs-li-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--primaryLight);
    font-weight: 500;
    display: block;
    position: relative;
  }
  #cs-navigation .cs-li-link:hover:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primaryLight);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
    transition: width 0.3s;
  }
}
/*-- -------------------------- -->
<---        Recent Posts        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-1370 {
    padding: var(--sectionPadding);
    background-color: var(--htmlBodyColor);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #meet-team-1370 .cs-title,
  #meet-team-1370 .cs-text {
    color: var(--navLinkColor);
  }
  #meet-team-1370 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-1370 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #meet-team-1370 .cs-topper {
    color: var(--secondary);
  }
  #meet-team-1370 .cs-card-group {
    width: 100%;
    /* max-width is removed on tablet */
    max-width: 43.75rem;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    position: relative;
  }
  #meet-team-1370 .cs-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 12;
  }
  #meet-team-1370 .cs-item:hover .cs-link {
    opacity: 1;
    transform: translateY(0);
  }
  #meet-team-1370 .cs-picture-wrapper {
    /* 12px - 20px */
    margin-bottom: clamp(0.75rem, 4vw, 1.25rem);
    position: relative;
  }
  #meet-team-1370 .blob-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #meet-team-1370 .blob-wrapper::before {
    content: url(/assets/svgs/blob.svg);
    position: absolute;
    height: 150%;
    /* Increase the height */
    width: 150%;
    /* Increase the width */
    top: -25%;
    /* Adjust top to make the blob extend */
    left: -25%;
    /* Adjust left to make the blob extend */
    z-index: -1;
    opacity: 0.9;
  }
  #meet-team-1370 .cs-picture {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    aspect-ratio: 1/1;
  }
  #meet-team-1370 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #meet-team-1370 .cs-info {
    text-align: center;
    /* 16px - 24px */
    padding: clamp(1rem, 1.7vw, 1.5rem);
    width: 100%;
    margin-top: 15%;
    background-color: #f7f7f7;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* makes the info boxes grow when the items aren't matching heights */
    flex-grow: 1;
    transition: background-color 0.3s;
  }
  #meet-team-1370 .cs-info:hover {
    color: #fff;
    background-color: var(--primary);
  }
  #meet-team-1370 .cs-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    margin: 0 0 0.25rem;
    gap: 1rem;
    transition: color 0.3s;
  }
  #meet-team-1370 .cs-job {
    transition: color 0.3s;
  }
  #meet-team-1370 .cs-social {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    right: 50%;
    bottom: 1.5rem;
    z-index: 1;
    transform: translateX(50%);
  }
  #meet-team-1370 .cs-link {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    opacity: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(1rem);
    transition: transform 0.3s, opacity 0.3s;
  }
  #meet-team-1370 .cs-link:hover .cs-icon {
    /* use this pen to generate a filter from black to a color of your choosing */
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(55%) sepia(42%) saturate(4845%) hue-rotate(337deg) brightness(101%) contrast(98%);
  }
  #meet-team-1370 .cs-link:first-of-type,
  #meet-team-1370 .cs-link:last-of-type {
    margin-top: -1.25rem;
  }
  #meet-team-1370 .cs-link:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #meet-team-1370 .cs-link:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #meet-team-1370 .cs-link:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #meet-team-1370 .cs-link:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #meet-team-1370 .cs-bubbles {
    width: 22.3125rem;
    height: 29.375rem;
    margin-left: -58.625rem;
    display: none;
    position: absolute;
    top: -11.625rem;
    left: 50%;
    z-index: -1;
  }
  #meet-team-1370 .cs-bubbles:before {
    /* white border bubble */
    content: "";
    width: 18.375rem;
    height: 18.375rem;
    background: transparent;
    opacity: 1;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  #meet-team-1370 .cs-bubbles:after {
    /* orange bubble */
    content: "";
    width: 18.375rem;
    height: 18.375rem;
    background: var(--primary);
    opacity: 0.1;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
}
/* Tablet - 500px */
@media only screen and (min-width: 31.25rem) {
  #meet-team-1370 .cs-container {
    flex-direction: row;
    width: 80%;
  }
  #meet-team-1370 .cs-card-group {
    margin: auto;
    display: flex;
  }
  #meet-team-1370 .cs-item {
    grid-column: span 6;
  }
  #meet-team-1370 svg {
    height: 100%;
    width: 100%;
    margin: 0;
    top: -19%;
    left: -20%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #meet-team-1370 .cs-container {
    flex-direction: row;
  }
  #meet-team-1370 .cs-card-group {
    max-width: none;
    width: 100%;
    /* max-width is removed on tablet */
    max-width: 43.75rem;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    position: relative;
  }
  #meet-team-1370 .cs-item {
    grid-column: 4 / 10;
  }
  #meet-team-1370 svg {
    left: 0%;
  }
  #meet-team-1370 .cs-content {
    text-align: left;
    max-width: 25.8125rem;
    align-items: start;
  }
  #meet-team-1370 .cs-bubbles {
    display: block;
  }
}
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-570 {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: var(--sectionPadding);
    background-image: url(/assets/images/Bareroots-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery-570 .cs-picture {
    width: 100%;
    height: 100%;
    display: block;
  }
  #gallery-570 .cs-picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -50;
    position: relative;
  }
  #gallery-570 .cs-title {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 50;
    color: var(--secondary);
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #gallery-570 {
    flex-direction: row;
    height: 70vh;
    background-position: center bottom;
  }
}
/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1882 {
    /* prevents padding from affecting height and  */
    box-sizing: border-box;
    padding: var(--sectionPadding);
    padding-bottom: 0;
    background-color: var(--htmlBodyColor);
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-family: "Montserrat", sans-serif;
  }
  #why-choose-1882 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 58.75rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #why-choose-1882 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    z-index: 1;
  }
  #why-choose-1882 .cs-title {
    max-width: 20ch;
    color: var(--primary);
  }
  #why-choose-1882 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    /* 8px - 20px */
    gap: clamp(0.5rem, 3vw, 1.25rem);
    z-index: 1;
  }
  #why-choose-1882 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    /* 24px - 32px */
    padding: clamp(1.5rem, 1vw, 2rem);
    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
  }
  #why-choose-1882 .cs-item:hover {
    transform: scale(1.05);
    transition: transform 150ms ease-in-out;
  }
  #why-choose-1882 .cs-item-group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  #why-choose-1882 .cs-icon {
    width: auto;
    height: 2rem;
    display: block;
  }
  #why-choose-1882 .cs-h3 {
    font-family: "Shrikhand", sans-serif;
    font-size: 1.25rem;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
  }
  #why-choose-1882 .cs-text {
    color: var(--primary);
  }
  #why-choose-1882 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--primary);
    font-family: "Montserrat", sans-serif;
  }
  #why-choose-1882 .cs-image-group {
    width: 100%;
    max-width: 24.5625rem;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
  }
  #why-choose-1882 .cs-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    left: 2%;
  }
  #why-choose-1882 .cs-image img {
    width: 100%;
    height: auto;
  }
  #why-choose-1882 .cs-graphic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
  }
  #why-choose-1882 .cs-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #why-choose-1882 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #why-choose-1882 .cs-background::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #F6EDDF;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1882 .cs-floater {
    font-size: 1rem;
    width: 34.25em;
    height: 29.8125em;
    display: none;
    position: absolute;
    z-index: 0;
  }
  #why-choose-1882 .cs-floater-top {
    top: 0;
    left: 0;
  }
  #why-choose-1882 .cs-floater-bottom {
    right: 0;
    bottom: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1882 .cs-card-group {
    grid-template-columns: repeat(2, 1fr);
  }
  #why-choose-1882 .cs-floater-bottom {
    display: block;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1882 {
    padding: var(--sectionPadding);
  }
  #why-choose-1882 .cs-container {
    max-width: 80rem;
  }
  #why-choose-1882 .cs-card-group {
    /* makes sure the card group always has a minimum height to keep the section tall enough so the absolutely positioned image group never overlaps the content at the top. */
    min-height: 25rem;
  }
  #why-choose-1882 .cs-graphic {
    height: 50%;
  }
  #why-choose-1882 .cs-image-group {
    height: 80%;
    display: flex;
    justify-content: center;
    position: absolute;
    /* 60px - 100px, same as the section padding clamp values */
    bottom: calc(clamp(3.75rem, 7.82vw, 6.25rem)*-1);
    left: 50%;
    top: 40%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #why-choose-1882 .cs-image-group .cs-image {
    height: 50%;
    border-radius: 50%;
    width: auto;
    position: relative;
  }
  #why-choose-1882 .cs-image-group .cs-image img {
    height: 100%;
    width: auto;
    border-radius: 50%;
  }
  #why-choose-1882 .cs-card-group {
    justify-content: center;
    align-items: stretch;
  }
  #why-choose-1882 .cs-item {
    width: 31vw;
    max-width: 25.8125rem;
    position: relative;
  }
  #why-choose-1882 .cs-item:nth-of-type(even) {
    justify-self: flex-end;
  }
  #why-choose-1882 .cs-floater-top {
    display: block;
  }
}
/* Large Desktop - 1600px */
@media only screen and (min-width: 100rem) {
  #why-choose-1882 .cs-floater-top {
    margin-right: 26rem;
    right: 50%;
    left: initial;
  }
  #why-choose-1882 .cs-floater-bottom {
    margin-left: 26rem;
    right: initial;
    left: 50%;
  }
}
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1879 {
    padding: var(--sectionPadding);
    background-color: var(--htmlBodyColor);
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-family: "Montserrat", sans-serif;
  }
  #contact-1879 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  #contact-1879 .cs-image-group {
    font-size: min(2.24vw, 0.9em);
    width: 39.5em;
    height: 49.2em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #contact-1879 .cs-picture {
    width: 34.9em;
    height: 49.6em;
    box-sizing: border-box;
    background-color: #DAB692;
    overflow: hidden;
    border: 8px solid #DAB692;
    border-radius: 16.25rem;
    position: absolute;
    z-index: -1;
  }
  #contact-1879 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #contact-1879 .cs-graphic {
    height: auto;
    position: absolute;
  }
  #contact-1879 .cs-brown {
    width: 10.3125em;
    top: 0em;
    right: 3em;
    z-index: -2;
  }
  #contact-1879 .cs-peach {
    width: 4.3125em;
    top: 1em;
    right: 10em;
  }
  #contact-1879 .cs-beige {
    width: 30em;
    top: 4em;
    right: 10em;
    z-index: -3;
  }
  #contact-1879 .cs-leaf {
    width: 14em;
    bottom: 0em;
    left: 1em;
    z-index: 1;
  }
  #contact-1879 .cs-dots {
    width: 16.35em;
    right: 1em;
    bottom: 1em;
    z-index: -2;
  }
  #contact-1879 .cs-lines {
    width: 15.39em;
    bottom: 0em;
  }
  #contact-1879 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #contact-1879 .cs-title {
    /* 48px - 64px */
    margin-bottom: clamp(3rem, 6.3vw, 4rem);
    color: var(--primary);
  }
  #contact-1879 .cs-form {
    padding: 2rem 1rem;
    background-color: #F6EDDF;
    /* 32px - 40px */
    border-radius: clamp(2rem, 4vw, 2.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* 16px - 20px */
    row-gap: clamp(1rem, 2vw, 1.25rem);
  }
  #contact-1879 .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    font-weight: 700;
    line-height: 1.2em;
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #contact-1879 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    /* 11px - 16px top & bottom */
    /* 16px - 24px left & right */
    padding: clamp(0.6875rem, 1.5vw, 1rem) clamp(1rem, 2vw, 1.5rem);
    background-color: #FAF6F2;
    color: var(--headerColor);
    border: none;
    border-radius: 1rem;
    transition: border-color 0.3s;
  }
  #contact-1879 .cs-input:hover {
    border-color: var(--secondary);
  }
  #contact-1879 .cs-input:focus {
    outline: 1px solid var(--secondary);
  }
  #contact-1879 .cs-input::placeholder {
    color: #7d799c;
    opacity: 0.6;
  }
  #contact-1879 .cs-input:valid {
    border-color: var(--valid-color);
    background-color: var(--valid-color);
    outline: none !important;
    transition: background-color 0.5s ease;
  }
  #contact-1879 .cs-input:invalid:not(:placeholder-shown) {
    border-color: var(--error-color);
    background-color: var(--error-color);
    outline: none !important;
  }
  #contact-1879 .cs-textarea {
    font-family: inherit;
    /* 120px - 192px */
    min-height: clamp(7.5rem, 28vw, 12rem);
    margin-bottom: 1rem;
    padding-top: 1.5rem;
  }
  #contact-1879 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #contact-1879 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    opacity: 1;
    border-radius: 6.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #contact-1879 .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-1879 .cs-submit {
    line-height: 3.5rem;
    min-width: 13.375rem;
    border: solid 2px #f2f2f2;
    border-radius: 6.25rem;
  }
  #contact-1879 .cs-text {
    font-size: 0.875rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-1879 .cs-form {
    /* 32px - 40px */
    padding: clamp(2rem, 4vw, 2.5rem);
    /* 16px - 20px */
    column-gap: clamp(1rem, 2vw, 1.25rem);
  }
  #contact-1879 .cs-label {
    width: 47.6%;
  }
  #contact-1879 .cs-message {
    width: 100%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-1879 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* 48px - 60px */
    gap: clamp(3rem, 6vw, 3.75rem);
  }
  #contact-1879 .cs-image-group {
    font-size: min(0.95vw, 1em);
    flex: none;
  }
  #contact-1879 .cs-form {
    /* 514px - 738px */
    width: clamp(32.125rem, 50vw, 46.125rem);
  }
}
/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #int-hero {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    padding-top: 3.125rem;
  }
  #int-hero picture {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  #int-hero picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #int-hero h1 {
    position: relative;
    margin: 0 auto;
    margin-top: 4.375rem;
    margin-bottom: 1.875rem;
    max-width: 31.25rem;
    width: 96%;
    font-size: 2.13333333rem;
    color: #fff;
    text-align: center;
  }
  #int-hero p {
    display: block;
    margin: auto;
    margin-bottom: 1.875rem;
    max-width: 25rem;
    width: 96%;
    color: #fff;
    text-align: center;
  }
  #int-hero:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.7;
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
  }
}
/* Tablet */
@media only screen and (min-width: 48rem) {
  #int-hero {
    font-size: 100%;
  }
  #int-hero h1 {
    font-size: 4rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64rem) {
  #int-hero {
    background-attachment: fixed;
    min-height: 18.75rem;
    height: auto;
    padding-top: 11.25rem;
    font-size: inherit;
    padding-block-end: 6.25rem;
  }
}
/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #cta {
    position: relative;
    padding: 3.125rem 0;
  }
  #cta .container {
    text-align: center;
  }
  #cta picture {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #cta .title {
    position: relative;
    margin-bottom: 2.25rem;
    font-size: min(9vw, 3rem);
    line-height: 1.20833333em;
    font-weight: 900;
    color: #fff;
    text-align: center;
  }
  #cta p {
    opacity: 1;
    margin: auto;
    margin-bottom: 2.25rem;
    max-width: 37.375rem;
    width: 96%;
    color: #fff;
    text-align: center;
  }
  #cta:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.7;
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64rem) {
  #cta {
    padding: 10.5rem 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
    margin-top: 6.25rem;
  }
  #cta .container {
    margin: auto;
    width: 90.0625%;
  }
  #cta picture {
    left: 50%;
    transform: translateX(-50%);
    width: 90.0625%;
  }
  #cta picture:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.7;
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
  }
  #cta:before {
    display: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #cta:after {
    display: none;
  }
}
/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #footer {
    background: #1c1c1c;
    padding: 5.25rem 0 calc(20 / 16 * 1rem);
    font-size: min(4vw, 1.2em);
  }
  #footer .left-section {
    margin: auto;
    margin-bottom: 3.125rem;
    text-align: center;
  }
  #footer .left-section .logo {
    display: inline-block;
    margin: auto;
    margin-bottom: 1.875em;
    height: 2em;
    width: auto;
    text-align: center;
  }
  #footer .left-section .logo img {
    display: block;
    height: 100%;
    width: auto;
  }
  #footer .left-section p {
    opacity: 0.9;
    margin: auto;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.92857143rem;
    color: #fff;
    text-align: center;
  }
  #footer .right-section {
    margin: auto;
    max-width: 25.4375rem;
    width: 96%;
  }
  #footer .right-section .lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 19.1875rem;
    width: 96%;
  }
  #footer .right-section .lists ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  #footer .right-section .lists ul li {
    opacity: 0.9;
    margin-bottom: 0.75rem;
    list-style: none;
    font-size: 1.125rem;
    color: #fff;
  }
  #footer .right-section .lists ul li a {
    text-decoration: none;
    line-height: 1.16666667em;
    color: #fff;
    transition: color 0.3s;
  }
  #footer .right-section .lists ul li a:hover {
    color: var(--primary);
  }
  #footer .right-section .lists ul h2 {
    position: relative;
    margin-bottom: 2.3125rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.16666667em;
    font-weight: bold;
    color: #fff;
  }
  #footer .right-section .lists ul h2:before {
    position: absolute;
    bottom: calc(-16 / 16 * 1rem);
    left: 0;
    content: "";
    opacity: 1;
    display: block;
    background: var(--primary);
    height: 0.125rem;
    width: 6.0625rem;
  }
  #footer .right-section .lists ul:nth-of-type(3) {
    margin-top: 3.125rem;
  }
  #footer .right-section .lists ul:nth-of-type(3) li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }
  #footer .right-section .lists ul:nth-of-type(3) li:last-of-type {
    margin-bottom: 0;
  }
  #footer .right-section .buttons {
    display: flex;
    justify-content: center;
  }
  #footer .right-section .cs-button-solid {
    margin: 0;
    height: 3.3125rem;
    width: 15.625rem;
    padding-top: 0.1875rem;
  }
  #footer .credit {
    margin: auto;
    margin-top: 6.25rem;
    width: 96%;
    font-size: 1rem;
    line-height: 2.25rem;
    color: #fff;
    text-align: center;
  }
  #footer .credit a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--primary);
  }
  #footer .credit a:hover {
    text-decoration: underline;
  }
  #footer .credit .copyright {
    display: block;
    font-size: 1rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64rem) {
  #footer {
    font-size: min(1.2vw, 1em);
  }
  #footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
    max-width: 82.5rem;
    width: 96%;
    padding: 0;
  }
  #footer .left-section {
    margin: 0;
    width: 25.5625rem;
    text-align: left;
  }
  #footer .left-section .logo {
    margin-left: 0;
    height: 2.5rem;
    text-align: left;
  }
  #footer .left-section p {
    margin-left: 0;
    text-align: left;
  }
  #footer .right-section {
    margin: 0;
    max-width: none;
    width: 38.0625rem;
  }
  #footer .right-section .lists {
    margin: 0;
    max-width: 48.0625rem;
    width: 96%;
  }
  #footer .right-section .lists ul li a {
    position: relative;
  }
  #footer .right-section .lists ul li a:before {
    position: absolute;
    bottom: calc(-3 / 16 * 1rem);
    left: 0;
    content: "";
    opacity: 1;
    display: block;
    background: var(--primary);
    height: 0.125rem;
    width: 0%;
    transition: width 0.3s;
  }
  #footer .right-section .lists ul li a:hover:before {
    width: 100%;
  }
  #footer .right-section .lists ul:nth-of-type(3) {
    margin-top: 0;
  }
  #footer .right-section .lists ul:nth-of-type(3) li:first-of-type {
    margin-bottom: 0;
  }
  #footer .right-section .buttons {
    justify-content: flex-start;
  }
  #footer .credit .copyright {
    display: inline-block;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #footer {
    background: #061623;
  }
}
