---
title: 'Bareroots Counseling | Therapy based in Waterbury, VT'
description: 'Discover compassionate and personalized mental health counseling for young adults in Waterbury, VT at Bare Roots Counseling. Our licensed therapist provides trauma-informed therapy, Cognitive Behavioral Therapy (CBT), and Dialectical Behavior Therapy (DBT). Specializing in young adult mental health, we offer holistic support for personal growth, substance abuse counseling, and family therapy. Serving Waterbury and Central Vermont with expert counseling services.'
preloadImg: '/assets/images/Bareroots-2.webp'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>
    <link rel="icon" href="/assets/favicons/favicon_io/android-chrome-192x192.png">



    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1949">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Bareroots Counseling</h1>
            <p class="cs-text">My name is Moxie Robinson and I am a therapist based in Waterbury, VT.</p>
            <a href="/index#meet-team-1370" class="cs-button-solid">About me.</a>
        </div>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero-2.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/Bareroots-2.webp">
        <img decoding="async" src="/assets/images/hero-2.webp" alt="Photo of Moxie" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                Meet the Team                 -->
<!-- ============================================ -->

<section id="meet-team-1370">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <!-- <svg id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                    <path fill="#bfdbf7" d="M407,287.5Q404,335,362.5,358Q321,381,280.5,405Q240,429,197.5,408.5Q155,388,108.5,365.5Q62,343,72.5,291.5Q83,240,67,185.5Q51,131,105.5,116.5Q160,102,200,84.5Q240,67,289.5,67.5Q339,68,370,107.5Q401,147,405.5,193.5Q410,240,407,287.5Z" />
                </svg> -->
                <div class="cs-picture-wrapper">
                    <div class="blob-wrapper">
                        <div class="cs-picture">
                            <picture>
                                <source media="(max-width: 600px)" srcset="/assets/images/clover.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/clover.webp">
                                <img decoding="async" src="/assets/images/Bareroots-3.jpg" loading="lazy" alt="Moxie - Our Therapist" width="413" height="374" aria-hidden="true">
                            </picture>
                        </div>
                    </div>
                    <div class="cs-social">
                        <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook1a.svg" alt="facebook"
                                width="15" height="13">
                        </a>
                        <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram1a.svg" alt="instagram"
                                width="17" height="16">
                        </a>
                        <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter1a.svg" alt="twitter"
                                width="15" height="13">
                        </a>
                        <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube1a.svg" alt="youtube"
                                width="17" height="16">
                        </a>
                    </div>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Moxie Robinson</span>
                    <span class="cs-job">Clinical Therapist</span>
                </div>
            </li>
        </ul>
        <div class="cs-content">
            <h2 class="cs-title">My name is Moxie.</h2>
            <p class="cs-text">
                Are you struggling to find your place within your community or within yourself? Together we can seek out clarity, navigate transition, and strengthen relationships. Our therapeutic work centers around creating a deeper understanding of self, diving into your beliefs and values, and the cycles we play out in relationships with others.
                <br>
                <br>
                I look forward to partnering with you in your journey of discovering your grounded-self and cultivating a firm foundation for you to launch into the world with. Please reach out to set up a 15-minute introduction call.
            </p>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<div id="gallery-570">
    <h2 class="cs-title">Frequently Asked Questions</h2>
</div>
                   

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1882">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Moxie's</span>
            <h2 class="cs-title">Quick Facts</h2>
            <p class="cs-text">
                Here are a few of the questions I most commonly receive as a therapist. If you have a question that is not included here, please don't hesitate to reach out! I would love to chat with you more about the process.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-item-group">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/derma-icon-heart.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    <h3 class="cs-h3">Do you take insurance?</h3>
                </div>
                <p class="cs-item-text">
                    I am happy to say that <strong>I do</strong> accept insurance! I take Blue Cross Blue Shield as well as Medicaid. I also accept pay via American Express, Mastercard and Venmo if that is your personal preference.
                </p>
            </li>
            <li class="cs-item">
                <div class="cs-item-group">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/derma-icon-people.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    <h3 class="cs-h3">Who do you work with?</h3>
                </div>
                <p class="cs-item-text">
                    I am particularly drawn to working with folks ages 14-25, focusing on areas such as helping you understand your learning profiles, managing symptoms of overwhelm such as depression and anxiety, processing trauma and grief, as well as supporting social skills development.
                </p>
            </li>
            <li class="cs-item">
                <div class="cs-item-group">
                    <img class="cs-icon"
                            src="/assets/svgs/gps.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    <h3 class="cs-h3">Where are you located?</h3>
                </div>
                <p class="cs-item-text">
                    My office is located in the heart of downtown Waterbury. I am walking distance to parks, coffee shops, and all the other quaint gems that the village has to offer. It makes for the perfect opportunity to take a session outside on nice days, or for my clients to grab a coffee or a bite to eat after their session while they are already in town! 
                </p>
            </li>
            <li class="cs-item">
                <div class="cs-item-group">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/derma-icon-plan.svg" loading="lazy"
                            decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    <h3 class="cs-h3">What is your intake process like?</h3>
                </div>
                <p class="cs-item-text">
                    As a therapist, I place great importance on the relationship between the therapist and the client. It's essential to feel comfortable and connected to your therapist. To ensure this connection, I offer a complimentary 15-minute phone consultation before beginning our sessions. After the consult, if it feels like a good fit, I work with my clients to find a time that works for us to connect, either remotely or in person on a weekly or bi-weekly basis.
                </p>
            </li>
        </ul>
        <!--Portrait-->
        <div class="cs-image-group">
            <div class="blob-wrapper">
                <picture class="cs-image">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/faq.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/faq.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/faq.webp" alt="Moxie burning palo santo" width="510" height="193" aria-hidden="true">
                </picture>
            </div>
            <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/derma-graphic.svg" alt="graphic" height="599" width="414" loading="lazy" decoding="async" aria-hidden="true">
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1879">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/vermont_village.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/vermont_village.webp">
                <img loading="lazy" decoding="async" src="/assets/images/vermont_village.webp" alt="dermatologist" width="324" height="467">
            </picture>
            <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-lines.svg" alt="graphic" width="208" height="203" aria-hidden="true">
            <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/peach-blob.svg" alt="graphic" width="56" height="42" aria-hidden="true">
            <img class="cs-graphic cs-beige" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-blob.svg" alt="graphic" width="379" height="394" aria-hidden="true">
            <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/leaf2.svg" alt="graphic" width="179" height="225" aria-hidden="true">
            <img class="cs-graphic cs-dots" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-dots.svg" alt="graphic" width="187" height="104" aria-hidden="true">
            <img class="cs-graphic cs-lines" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-lines.svg" alt="graphic" width="189" height="208" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Let's connect!</span>
            <h2 class="cs-title">Book an Appointment Below.</h2>
            <!--Form-->
            <form class="cs-form" id="cs-form-1879" name="Contact Form" method="post">
                <label class="cs-label">
                    First Name*
                    <input class="cs-input" required type="text" id="name-1879" name="name" placeholder="Alice">
                </label>
                <label class="cs-label">
                    Last Name*
                    <input class="cs-input" required type="text" id="phone-1879" name="phone-1879" placeholder="Moore">
                </label>
                <label class="cs-label">
                    Email*
                    <input class="cs-input" required type="email" id="email-1879" name="email-1879" placeholder="name@provider.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                </label>
                <label class="cs-label">
                    Phone*
                    <input class="cs-input" required type="text" id="hear-1879" name="hear-1879" placeholder="206-987-6543" pattern="^\d{3}-\d{3}-\d{4}$">
                </label>
                <label class="cs-label cs-message">
                    Message*
                    <textarea class="cs-input cs-textarea" required name="message-1879" id="message-1879" placeholder="Hello, I am interested..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
                <p class="cs-text">
                    By filling out this form you agree to receive email, text, and phone communications from Bareroots Counseling.
                </p>
            </form>
        </div>
    </div>
</section>
                                
<!-- Script to check if the scroll to elements are being accessed while on index.html -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
    const navLinks = document.querySelectorAll('a.cs-li-link');

    navLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            const href = this.getAttribute('href');
            if (href.startsWith('/index#')) {
                const targetId = href.split('#')[1];
                const targetElement = document.getElementById(targetId);

                if (targetElement) {
                    event.preventDefault();
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                }
            }
        });
    });
});
</script>         

    {% include 'components/cta.html' %}
{% endblock %}